/**
 * ISSUES GRID CSS rules
 */

/** EVENT SEVERITY CELL styling */
.disaster-cell			{ background-color: #FF1E1E !important; }
.high-cell				{ background-color: #FF7373 !important; }
.average-cell			{ background-color: #FFA866 !important; }
.warning-cell			{ background-color: #FFFF80 !important; }
.info-cell				{ background-color: #BFFFFF !important; }
.not-classified-cell	{ background-color: #D9D9D9 !important; }
.ok-cell				{ background-color: #8CFF8C !important; }
.no-ack-cell			{ background-color: #FFF380 !important; }

/** EVENT SEVERITY ROWS styling */
.x-grid-item .disaster-row .x-grid-cell					{ background-color: #FF1E1E; }
.x-grid-item-selected .disaster-row .x-grid-cell		{ background-color: #D91919; }
.x-grid-item-over .disaster-row .x-grid-cell			{ background-color: #D91919; }

.x-grid-item .high-row .x-grid-cell						{ background-color: #FF7373; }
.x-grid-item-selected .high-row .x-grid-cell			{ background-color: #D96262; }
.x-grid-item-over .high-row .x-grid-cell				{ background-color: #D96262; }

.x-grid-item .average-row .x-grid-cell					{ background-color: #FFA866; }
.x-grid-item-selected .average-row .x-grid-cell			{ background-color: #D98F57; }
.x-grid-item-over .average-row .x-grid-cell				{ background-color: #D98F57; }

.x-grid-item .warning-row .x-grid-cell					{ background-color: #FFFF80; }
.x-grid-item-selected .warning-row .x-grid-cell			{ background-color: #D9D96D; }
.x-grid-item-over .warning-row .x-grid-cell				{ background-color: #D9D96D; }

.x-grid-item .info-row .x-grid-cell						{ background-color: #BFFFFF; }
.x-grid-item-selected .info-row .x-grid-cell			{ background-color: #A2D9D9; }
.x-grid-item-over .info-row .x-grid-cell				{ background-color: #A2D9D9; }

.x-grid-item .not-classified-row .x-grid-cell			{ background-color: #D9D9D9; }
.x-grid-item-selected .not-classified-row .x-grid-cell	{ background-color: #B3B3B3; }
.x-grid-item-over .not-classified-row .x-grid-cell		{ background-color: #B3B3B3; }

.x-grid-item .acknowledged-row .x-grid-cell				{ background-color: #8CFF8C; }
.x-grid-item-selected .acknowledged-row .x-grid-cell	{ background-color: #77D977; }
.x-grid-item-over .acknowledged-row .x-grid-cell		{ background-color: #77D977; }