/**
 * MAIN APP CSS rules.
 */

/** NO DATA MASK */
.no-data-mask .x-mask-msg-text {
	background: slategrey;
	background-image: none;
	padding: 10px;
	color: white;
}

/** GRIDS */
.x-grid-filters-filtered-column	{ color: #1E90FF; }
.wrap-text-cell div				{ white-space: normal; }

/** MAIN TAB BAR */
.main-bar.x-panel-header-default-vertical					{ padding: 10px 0; }
.main-bar .x-tab-bar-default								{ background-color: #40454C; }
.main-bar .x-tab-bar-default-left > .x-tab-bar-body-default	{ padding: 0; }
.main-bar .x-tab-default									{ border-color: transparent; }
.main-bar .x-tab-default-left								{ padding: 9px 22px; margin: 7px 0; background-color: transparent; }
.main-bar .x-tab-active.x-tab-default						{ background-color: #E6E6E6; border-color: #E6E6E6; border-radius: 0}
.main-bar .x-tab-active.x-tab-default .x-tab-glyph			{ color: #40454C; }
.main-bar .x-tab-icon-el-default.x-tab-glyph				{ font-size: 26px; line-height: 24px; width: 26px; height: 26px; color: #E6E6E6; }

/** LOGO */
.logo-text {
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	font-weight: bold;
	font-size: 24px;
	font-family: verdana,sans-serif;
}

/** TAB PANEL TITLE */
.tab-panel-title {
	color: #7A818C;
	font-size: 26px;
	font-weight: bold;
	line-height: 100%;
	font-variant: small-caps;
}